@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

a {
  @apply text-brand hover:underline;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}
